@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        background-image: url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    img {
        border-radius: 10px;
    }

    a {
        color: green;
        text-decoration: none;
    }
</style>
<h1>@ViewData["Title"]</h1>

<p>Projekt iz predmeta Informacijski sustavi.</p>
