@using WebApp
@model WebApp.Models.Rezervacija


@{
    ViewData["Title"] = "Kreiraj novu rezervaciju";
}

<style>

    body {
        background-image: url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
</style>

<h2>Kreiraj novu rezervaciju</h2>

<h4>Rezervacija</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="IdKorisnik" class="control-label">Korisničko ime</label>
                <select asp-for="IdKorisnik" class="form-control" asp-items="@ViewBag.IdKorisnik"></select>
                <span asp-validation-for="IdKorisnik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumRezervacije" class="control-label"></label>
                <input asp-for="DatumRezervacije" class="form-control" type="date"/>
                <span asp-validation-for="DatumRezervacije" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojMjesta" class="control-label"></label>
                <input asp-for="BrojMjesta" class="form-control" />
                <span asp-validation-for="BrojMjesta" class="text-danger"></span>

            </div>
            <input type="hidden" asp-for="IdPutovanje" />
            <div class="form-group">
                <input type="submit" value="Kreiraj" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-controller="Putovanje" asp-action="Details" asp-route-id="@Model.IdPutovanje">Odustani</a>
            </div>

 
        </form>
    </div>
</div>
<br />
